@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-geist-mono);
  --color-primary-orange: #F5AB40;
  --color-primary-blue: #1D4DF4;
  --color-cyan-accent: #00FFFF;
  --color-deep-navy: #000B1C;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.hero-grid {
  background-image:
    linear-gradient(rgba(29, 77, 244, 0.1) 1px, transparent 1px),
    linear-gradient(90deg, rgba(29, 77, 244, 0.1) 1px, transparent 1px);
  background-size: 50px 50px;
}